version: "3"

services:
  server:
    env_file:
      - .env.development
    volumes:
      - ./server:/app
      - ./server/node_modules:/app/node_modules
      - /app/node_modules/puppeteer
      - /app/dist/node_modules/puppeteer
    command: ["yarn", "dev"]

  mongo:
    image: mongo
    restart: always
    env_file:
      - .env.development
    volumes:
      - ./mongo_db:/data/db

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    logging:
      driver: "none"
    environment:
      PGADMIN_DEFAULT_EMAIL: grychtol.daniel@gmail.com
      PGADMIN_DEFAULT_PASSWORD: Admin!123
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8080:80"
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    links:
      - "db:pgsql-server"
